@import '../../styles/settings.scss';

nav {
  background-color: darken($color-dark, 3%);
  padding: $base-size 0;

  .navContainer {
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: $font-text;
    font-weight: 900;
    font-size: $base-size;
    padding: 0 $base-size;
    max-width: 1200px;
  }

  a {
    text-decoration: none;
    color: $color-light;
  }

  a::before {
    font-size: $base-size*2;
  }

}

ul {
  list-style: none;

  li {
    display: inline;
    padding-left: $base-size*1.5;
  }
}
